@use 'variables';

.icon-container {
  // DISPLAY:
  display: inline-flex;
  flex-direction: column;

  border-radius: variables.$desktop-radius;

  // SPACE:
  padding: variables.$desktop-spacing-medium;
  gap: variables.$desktop-spacing-small;

  // COLOR:
  box-shadow: variables.$drop-box-shadow, variables.$desktop-inner-outline;

  transition: all ease-out 100ms;
  &:hover {
    cursor: pointer;
    transform: translate(0px, -5px);
    box-shadow: variables.$outer-glow, variables.$desktop-inner-outline;
  }
}

img {
  width: variables.$desktop-image-size;
  height: variables.$desktop-image-size;

  border-radius: variables.$desktop-radius;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
}

.text-container {
  // DISPLAY:
  display: flex;
  justify-content: center;

  border-radius: variables.$desktop-radius;
  box-shadow: variables.$inner-box-shadow;

  // COLOR:
  background: white;
}

.text {
  // SPACE:
  margin: 0;

  // FONT:
  font-family: 'MPLUSRounded1c';
  font-size: variables.$desktop-font-small;
  line-height: 16px;
  text-align: center;
}
