@use 'variables';

.list-container {
  display: inline-flex;
  flex-direction: row;

  padding: variables.$desktop-spacing-medium;
  gap: variables.$desktop-spacing-big;

  border-radius: variables.$desktop-spacing-big;

  // COLOR:
  box-shadow: variables.$inner-box-shadow, variables.$inner-gloss;
  border: variables.$desktop-border;
  background-color: rgba(255, 255, 255, 0.5);
}
