// This is to store all the variables needed:

// FONTS:
@font-face {
  font-family: 'MPLUSRounded1c';
  src: url('@/assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MPLUSRounded1cOUTLINE';
  src: url('@/assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlbertSans';
  src: url('@/assets/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf') format('truetype');
}

// COLORS:
$gradient-color-1: #4570ff;
$gradient-color-2: #35c2ff;

$gradient-1-simple: radial-gradient(
  100% 100% at 50% 100%,
  $gradient-color-2 0%,
  $gradient-color-1 100%
);

$simple-highlight: radial-gradient(66% 38.11% at 50% 0%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);

$gradient-1-highlighted: $simple-highlight, $gradient-1-simple;

$inner-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
$drop-box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.25);
$inner-gloss: inset 0px -50px 50px white;
$outer-glow: 0px 0px 30px 3px white;

// mask-image:
$fade-bottom: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 90%);

// DESKTOP:
$desktop-image-size: 60px;

$desktop-spacing-small: 5px;
$desktop-spacing-medium: 10px;
$desktop-spacing-big: 15px;
$desktop-spacing-huge: 20px;

$desktop-font-small: 11px;
$desktop-font-medium: 20px;
$desktop-font-big: 24px;

$desktop-pfp-size: 48px;

$desktop-radius: 15px;
$desktop-bubble-radius: 20px;

$desktop-inner-outline: 0px 0px 0px 3px white inset;

$desktop-border-width: 3px;
$desktop-border: $desktop-border-width solid white;
